<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>
    <meta content="The main homepage" name="description">
    <!-- Scripts-->
    <script src="{{page.url}}assets/scripts/core.jquery.js" defer></script>
    <script src="{{page.url}}assets/scripts/plugin.imagesloaded.pkgd.js" defer></script>
    <script src="{{page.url}}assets/scripts/plugin.in-viewport.js" defer></script>
    <script src="{{page.url}}assets/scripts/plugin.isotope.pkgd.min.js" defer></script>
    <script src="{{page.url}}assets/scripts/plugin.nevo-lightbox.js" defer></script>
    <script src="{{page.url}}assets/scripts/plugin.ScrollToPlugin.min.js" defer></script>
    <script src="{{page.url}}assets/scripts/plugin.SplitText.js" defer></script>
    <script src="{{page.url}}assets/scripts/plugin.TweenMax.min.js" defer></script>
    <script src="{{page.url}}assets/scripts/main.functions.js" defer></script>
    <!-- Styles-->
    <link rel="stylesheet" href="{{page.url}}assets/styles/style.css">
    <link rel="stylesheet" href="{{page.url}}assets/styles/custom.css">
    <!-- Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{page.url}}assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{page.url}}assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{page.url}}assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{page.url}}assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{page.url}}assets/images/favicon/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>