<header class="header"><a class="brand" href="/">
    <h5>Tok</h5>
</a>
    <!-- Navigation-->
    <!-- <ul class="menu main">
        <li class="menu-item"><a class="menu-link" href="{{page.url}}contact.html">Inicio</a></li>
        <li class="menu-item"><a class="menu-link" href="pages/contact.html">Contacto</a></li>
    </ul>
     -->

    <!-- Social Navigation-->
    <ul class="menu social">
      <!-- <li class="menu-item"><a class="menu-link anchor-link" href="#">Contacto</a></li> -->
      <!-- <li class="menu-item"><a class="menu-link anchor-link" href="#">Behance</a></li> -->
      <!-- <li class="menu-item"><a class="menu-link anchor-link" href="#">Twitter</a></li> -->
    </ul>
  </header>